{% extends 'base_content.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Create Task</h1>
            <form action="{% url 'create_task' %}" method="post">
            {% csrf_token %}
            {% include 'partials/bootstrap_form.html' with form=form %}
            <input type="submit" value="Create Task" class="btn btn-primary" style="margin-bottom: 20px;">
            </form>
        </div>
    </div>
</div>
{% endblock %}