{% extends 'base_content.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Create Task</h1>
            <form action="{% url 'create_task' %}" method="post">
            {% csrf_token %}
            <form action="{% url 'create_task' %}" method="post" id="create-task-form">

            {% include 'partials/bootstrap_form.html' with form=form %}

                <!-- Add a hidden input field to store the selected team -->
                <input type="hidden" id="selected-team" name="team" value="{% if form.instance.team %}{{ form.instance.team.id }}{% endif %}">


            <input type="submit" value="Create Task" class="btn btn-primary" style="margin-bottom: 20px;">
            </form>
        </div>
    </div>
</div>

<script>
    // Add JavaScript to handle dynamic form field updates based on the selected team
    document.getElementById('id_team').addEventListener('change', function () {
        var selectedTeam = this.value;
        console.log('Selected Team:', selectedTeam);
    
        document.getElementById('selected-team').value = selectedTeam;
    
        // Fetch users for the selected team using AJAX (you may need to adjust this)
        fetch(`/get_users_for_team/${selectedTeam}/`)
            .then(response => response.json())
            .then(data => {
                var assignedUserField = document.getElementById('id_assigned_user');
                
                // Clear existing options in the assigned_user field
                assignedUserField.innerHTML = '';
                console.log('Cleared existing options in assigned_user field.');
    
                // Add an empty option as the default
                var emptyOption = document.createElement('option');
                emptyOption.value = '';
                emptyOption.text = '---------';
                assignedUserField.add(emptyOption);
                console.log('Added empty option as the default.');
    
                // Update the options in the assigned_user field
                data.forEach(user => {
                    var option = document.createElement('option');
                    option.value = user.id;
                    option.text = user.username;
                    assignedUserField.add(option);
                });
                console.log('Updated options in assigned_user field:', data);
            })
            .catch(error => {
                console.error('Error fetching users:', error);
            });
    });
    
    </script>
    
{% endblock %}