{% extends 'base_content.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Create Task</h1>
            <form action="{% url 'create_task' %}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                
                <!-- Add a hidden input field to store the selected team 
                <input type="hidden" id="id_team" name="team" value="{% if form.instance.team %}{{ form.instance.team.id }}{% endif %}">-->


            <input type="submit" value="Create Task" class="btn btn-primary" style="margin-bottom: 20px;">
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const teamField = document.getElementById('id_team');
        teamField.addEventListener('change', updateUsers);
    });

    function updateUsers() {
        const selectedTeam = document.getElementById('id_team').value;
        document.getElementById('id_team').value = selectedTeam;


        fetch(`/get_users_for_team/${selectedTeam}/`)
            .then(response => response.json())
            .then(data => {
                const assignedUsersContainer = document.getElementById('id_assigned_users');
                assignedUsersContainer.innerHTML = '';

                data.forEach(user => {
                    const checkbox = document.createElement('input');
                    const userDiv = document.createElement('div');
                    checkbox.type = 'checkbox';
                    checkbox.name = 'assigned_users';  // Adjust as needed
                    checkbox.value = user.id;
                    checkbox.id = `user_${user.id}`;

                    const label = document.createElement('label');
                    label.htmlFor = `user_${user.id}`;
                    label.appendChild(document.createTextNode(user.username));

                    assignedUsersContainer.appendChild(checkbox);
                    assignedUsersContainer.appendChild(label);
                    assignedUsersContainer.appendChild(userDiv);
                });
            })
            .catch(error => {
                console.error('Error fetching users', error);
            });
    }
</script>
    
{% endblock %}