{% extends 'base_content.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dashboard</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'dashboard.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}">
  <script src="{% static 'dashboard_task_is_finished.js' %}"></script>



</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <!-- Smaller container -->
      <div class="col-md-2">
        <ul class="list-group">
          <a href='{% url 'invites' %}' class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            Invites <span class="badge bg-primary rounded-pill">2</span>
          </a>
          <a href='{% url 'My_team' %}' class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            My Teams <span class="badge bg-primary rounded-pill">14</span>
          </a>
          <div id="achievements">
            <h3>Achievements</h3>
            {% if achievements %}
                <ul>
                    {% for achievement in achievements %}
                        <li>{{ achievement.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No achievements yet.</p>
            {% endif %}
        </div>
        </ul>
        </p>



        </ul>
      </div>
      <!-- end smaller container -->

      <!-- Wider container -->
      <div class="col-md-8">
        <div class="main-container text-center">
          <h1>Welcome to your dashboard {{ user.username }}</h1>

        <p>
          <div class="btn-group-lg">
            <a href='{% url 'create_team' %}' class="btn btn-lg btn-primary">Create Team</a>
            <a href='{% url 'create_task' %}' class="btn btn-lg btn-primary">Create Task</a>
            <a href="{% url 'send_invitation' user_id=user.id %}" class="btn btn-lg btn-primary">
              Send Invites
            </a>
          </p>
  
          </div>
        </p>

<!-- Search input with the oninput attribute to call handleSearch -->
<input type="text" id="search" placeholder="Search tasks" oninput="handleSearch()">


<!-- Tasks Section -->

        <h2>Tasks:</h2>

        <div class="row mt-4">
          {% if user_tasks %}
            <ul id="task-ul">
              {% for task in user_tasks %}
                {% if not task.is_finished %}
                  <li class="task-li" id="task-li-{{ task.id }}">
                    <strong>Title:</strong> {{ task.title }}<br>
                    <strong>Description:</strong> {{ task.description }}<br>
                    <strong>Due Date:</strong> {{ task.due_date }}<br>
                    <strong>Team:</strong> {{ task.team.name }}<br>
                    
                    <!-- Add button to mark task as finished -->
                    <button class="btn btn-success"   onclick="markAsFinished('{{ task.id }}')">
                      &#10003; <!-- Checkmark symbol -->
                    </button>

                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% else %}
            <p>No tasks assigned.</p>
          {% endif %}
        </div>
        
        <!-- Finished Tasks section -->
        <h2>Finished Tasks:</h2>
        <div class="row mt-4">
          <ul id="finished-task-ul">
            {% for task in user_tasks %}
              {% if task.is_finished %}
                <li class="finished-task-li" id="finished-task-li-{{ task.id }}">
                  <strong>Title:</strong> {{ task.title }}<br>
                  <strong>Description:</strong> {{ task.description }}<br>
                  <strong>Finished on:</strong> {{ task.finished_on}}<br>
                  <strong>Team:</strong> {{ task.team.name }}<br>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
    
  </div>
</div>

</body>
</html>
{% endblock %}