{% extends 'base_content.html' %}
{% block content %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="col-12">
        <!-- Teams Section -->
        <h3>Your Teams</h3>
        <ul>
          {% for team in user.teams.all %}
            <li>
              {{ team.name }} - <a href="{% url 'team_members' team.id %}" class="btn btn-sm btn-primary">View Team Members</a><br><br><br>
            </li>
          {% empty %}
            <li>You are not a member of any teams.</li>
          {% endfor %}
        </ul>
    </div>
  </div>
</div>


{% endblock %}